---
layout: default
title: Home
---

<div class="posts">
  {% if paginator.next_page == 2 %}
  <article class="post">
    <h1 class="post-title">
      YAP<sub>(achimon)</sub>C::Asia Hachioji 2016 mid in Shinagawa が開催されました！
    </h1>
    
    <p>2016/7/2(土),3(日)、品川にてYAP<sub>(achimon)</sub>C::Asia Hachioji 2016 mid in Shinagawaが開催されました！参加いただいた皆さま本当にありがとうございました！</p>
    
    <p>本イベントは全体で250人程度が参加した技術者向けカンファレンスであり、二日間4トラックのトーク枠でLT含め100を超える多彩なトークがおこなわれました。</p>

    <p>
      例年多様なトークが行われていたYAPC::Asia Tokyoが、少なくとも今年度は開催されない見通しです。
      本イベントの主催者は、技術者による技術者向けのトークができるイベントが途切れる事なく続く事を願い、
      今回のカンファレンスを企画、開催を決めました。
    </p>
    
    <p>本カンファレンスの詳細は「<a href="/aim">目標</a>」をご覧下さい。</p>
      
    <p>どんなトークや応募があったのかは「<a href="/talks">トーク</a>」をご覧下さい。</p>
      
  </article>
  {% endif %}
</div>


<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

